<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${user}">
    <div>
        <label th:for="usernameField">Username</label>
        <input th:field="*{username}" id="usernameField"/>
        <span th:errors="*{username}" class="error"></span>
    </div>
    <div>
        <label th:for="passwordField">Password</label>
        <input th:field="*{password}" id="passwordField" type="password"/>
        <span th:errors="*{password}" class="error"></span>
    </div>
    <input type="submit" value="Log In" />
</form>
</body>
</html>